
{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block active_about %}active{% endblock %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/about-header.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>
      </div>
    </div>
<!-- End Breadcrumbs -->


{% include 'about_section.html' %}

  <!-- Why Choose us Section -->

    {% include 'why_choose_us.html' %}
    
  <!-- End Why Choose us Section -->

    <!-- ======= Call To Action Section ======= -->

    <!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
      {% include 'team_section.html'%}
    <!-- End Team Section -->



{% endblock %}
