{% load static %}
{% block 'service_section' %}
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>

        </div>

        <div class="row gy-5">
        {% for item in service_cp %}
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            {% if item.icon %}
            <div class="icon flex-shrink-0 px-3"> <img src="{{ item.icon.url }}" alt="service icon"></div>
            {% endif %}
            <div>
              <h4 class="title"><a href="#" class="stretched-link">{{ item.title }}</a></h4>
              <p class="description"> {{ item.description |safe}}</p>
            </div>
          </div>
        {% endfor %}
          <!-- End Service Item -->
        </div>
      </div>
    </section>
{% endblock %}