{% extends "base.html" %}
{% load static %}
<!-- title -->
{% block title %}Services{% endblock %}
<!-- active page -->
{% block active_about %}active{% endblock %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/about-header.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2>Services</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>
      </div>
    </div>
<!-- End Breadcrumbs -->
    <!-- ======= Our Services Section ======= -->
{% include 'service_section.html '%}
    <!-- End Our Services Section -->
{% endblock %}