{% extends 'base.html' %}
{% load static %}
{% block title %}Team{% endblock %}
{% block active_team %}active{% endblock %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/team-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Team</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Team</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Team Section ======= -->
    {% include 'team_section.html' %}
    <!-- End Team Section -->

{% endblock %}