{% load static %}
{% block why_choose_us%}
    <section id="why-us" class="why-us mt-5">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>
        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('{% static 'assets/img/why-us-bg.jpg' %}')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              
              <div class="swiper-wrapper">
              {% for item in why_choose_us_cp %}
                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">{{ item.title }}</h3>
                    <h4 class="mb-3">{{ item.description|safe }}</h4>
                    <p>{{ item.sub_description|safe }}</p>
                  </div>
                </div><!-- End slide item --> 
              {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
              
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

{% endblock %}